@use './tokens' as *;

canvas {
  aspect-ratio: 1;
  background: $board-color;
  border: 30px solid $border-color;
  border-radius: 20px;
  display: block;
  left: 50%;
  max-height: 72vh;
  max-width: 88vw;
  position: absolute;
  top: 48%;
  transform: translate(-50%, -50%);

  &.is-hidden {
    display: none;
  }

  @media (max-width: 669px) {
    border-width: 18px;
    top: 38%;
  }
}
