#controls {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 10px;
  top: 10px;

  button {
    background: none;
    border: 0;
    color: $button-color-control;
    cursor: pointer;
    font-size: 24px;
    outline: 0;
  }
}

#touch-controls {
  align-items: center;
  bottom: 90px;
  display: none;
  flex-direction: column;
  gap: 5px;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);

  button {
    align-items: center;
    background: $border-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    height: 48px;
    justify-content: center;
    padding: 10px;
    width: 48px;

    svg {
      display: block;
      height: 24px;
      width: 24px;
    }
  }

  div {
    display: flex;
    gap: 5px;
  }
}

@media (max-width: 669px) {
  #touch-controls {
    display: flex;
  }
}