$background-color: #a8d093;
$border-color: #4f7e33;
$board-color: #aad750;
$button-bg: #3cc746;
$button-color: #fff;
$button-color-control: #436b2d;
$choice-border-color: #ccc;
$control-bg: rgba(255, 255, 255, 0.35);
$font-family: 'Fredoka', sans-serif;
$fruit-size: 35px;
$fruit-source-size: 138px;
$fruit-sprite: '/assets/fruit_types.png';
$fruit-total-width: 1932px;
$modal-backdrop-color: rgba(0, 0, 0, 0.7);
$modal-color: #4f4f4f;
$modal-surface: #fff;
$snake-blue: #4f76f9;
$snake-cyan: #1bd9e6;
$snake-green: #3cc746;
$snake-purple: #b84df2;
$snake-white: #f6f6f6;
$snake-yellow: #ecd718;
